@keyframes textShrink {
    from {
        transform: scaleX(1);
        opacity: 1;
    }
    to {
        transform: scaleX(.5);
        opacity: 0;
    }
}

@keyframes textGrow {
    from {
        transform: scaleX(.5);
        opacity: 0;
    }
    to {
        transform: scaleX(1);
        opacity: 1;
    }
}