---
import { t } from "i18next";
---

<section>
    <div class="category">
        <h3>{t("personnality.title-1")}</h3>
        <ul>
            <li><span class="pre-personnality">01</span>{t("personnality.adjectives.1")}</li>
            <li><span class="pre-personnality">02</span>{t("personnality.adjectives.2")}</li>
            <li><span class="pre-personnality">03</span>{t("personnality.adjectives.3")}</li>
            <li><span class="pre-personnality">04</span>{t("personnality.adjectives.4")}</li>
        </ul>
    </div>
    <div class="category">
        <h3>{t("personnality.title-2")}</h3>
        <ul>
            <li><span class="pre-personnality">01</span>{t("personnality.skills.1")}</li>
            <li><span class="pre-personnality">02</span>{t("personnality.skills.2")}</li>
            <li><span class="pre-personnality">03</span>{t("personnality.skills.3")}</li>
        </ul>
    </div>
    <div class="category">
        <h3>{t("personnality.title-3")}</h3>
        <ul>
            <li><span class="pre-personnality">01</span>{t("personnality.passions.1")}</li>
            <li><span class="pre-personnality">02</span>{t("personnality.passions.2")}</li>
            <li><span class="pre-personnality">03</span>{t("personnality.passions.3")}</li>
        </ul>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 5vw;
    }
    .category {
        width: min(100%, 25rem);
        height: fit-content;
    }

    h3 {
        margin: .5rem 0;
    }

    ul {
        list-style: none;
        padding: 0;
    }
    li {
        display: flex;
        border-top: var(--line-width) solid var(--gray);
    }
    li:last-child {
        border-bottom: var(--line-width) solid var(--gray);
    }
    .pre-personnality {
        font-size: 0.8rem;
        display: inline;
        margin-right: .5rem;
        position: relative;
        top: 0.2rem;
    }

    li, .passion {
        padding: .8rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'Lora', serif;
    }

     img {
        width: unset;
        height: unset;
        max-width: 100%;
    }
</style>