---
import { t } from "i18next";
---

<section>
    <h2>{t("personnality.title-1")}</h2>
    <ul>
        <li>{t("personnality.adjectives.1")}</li>
        <li>{t("personnality.adjectives.2")}</li>
        <li>{t("personnality.adjectives.3")}</li>
        <li>{t("personnality.adjectives.4")}</li>
    </ul>
    <h2>{t("personnality.title-2")}</h2>
    <ul>
        <li>{t("personnality.skills.1")}</li>
        <li>{t("personnality.skills.2")}</li>
        <li>{t("personnality.skills.3")}</li>
    </ul>
</section>