---
import { changeLanguage, setDefaultNamespace } from "i18next";
import MainPage from "../layouts/MainPage.astro";
import ProfileCard from "../components/about/ProfileCard.astro";
import PersonnalityCard from "../components/about/PersonnalityCard.astro";
import Cursus from "../components/about/Cursus.astro";
import Skills from "../components/about/Skills.astro";

changeLanguage("en");

setDefaultNamespace("about");
---

<MainPage>
    <section id="first-section">
        <div class="left">
            <ProfileCard />
        </div>
        <div class="right">
            <PersonnalityCard />
        </div>
    </section>
    <section id="second-section">
        <div class="left">
            <Skills />
        </div>
        <div class="right">
            <Cursus/>
        </div>
    </section>
</MainPage>

<style>
    section {
        display: flex;
        flex-direction: column;
    }
    .left {
        width: 100%;
        min-height: 45rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--tertiary-gray);
        background-color: var(--tertiary-color);
    }
    .right {
        width: 100%;
        background-color: white;
    }

    @media screen and (min-width: 1000px){
        section {
            flex-direction: row;
        }
        #second-section {
            flex-flow: row-reverse;
        }
        .left, .right {
            height: 100vh;
        }
        .left {
            width: 40%;
        }
        .right {
            width: 60%;
        }
    }
</style>