---
import { changeLanguage, setDefaultNamespace } from "i18next";
import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";
import Separator from "../components/Separator.astro";

changeLanguage("en");
setDefaultNamespace("home");

const projects = await Astro.glob("../content/projects/*.mdx");
projects.sort((a, b) => b.frontmatter.relevance - a.frontmatter.relevance);
---

<Layout>
	{projects.map((project) => (
        <Separator />
        <section class="project">
            <h2 transition:animate={fade()} class="project-title">{project.frontmatter.title}</h2>
            <div class="content">
                <project.Content />
            </div>
        </section>
    ))}
</Layout>

<script>
    import '../scripts/home';
</script>

<style>
    section {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
	h2 {
        font-size: 2.5rem;
        padding: 0 .5rem;
        text-align: center;
        font-weight: 400;
        width: fit-content;
        margin: auto;
        font-family: "Roxie Rossa", serif;
    }
    .content {
        margin-top: 1rem;
        position: relative;
        display: grid;
        grid-template-rows: repeat(2, 45%);
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        min-width: 100%;
        width: max-content;
        row-gap: 2rem;
        column-gap: 10vw;
        padding: 1rem 2vw;
    }
</style>
