---
import { changeLanguage, setDefaultNamespace, t } from "i18next";
import MainPage from "../layouts/MainPage.astro";
import Cog from "../components/decorations/Cog.astro";
import { Trans } from "astro-i18next/components";
import Separator from "../components/decorations/Separator.astro";

changeLanguage("en");

setDefaultNamespace("process");
---

<!-- This page is going to be a box that we follow and slowly goes through all the steps -->

<MainPage>
    <div class="project-box">
        <div class="eater" />
        <div id="cog-1" class="cog-wrap">
            <Cog size={10} />
        </div>
        <div id="cog-2" class="cog-wrap">
            <Cog size={12} clockwise={false} />
        </div>
        <div id="cog-3" class="cog-wrap">
            <Cog size={16} offset={16} />
        </div>

        <div id="cog-4" class="cog-wrap">
            <Cog size={10} />
        </div>
        <div id="cog-5" class="cog-wrap">
            <Cog size={8} clockwise={false} offset={25} />
        </div>

        <div id="cog-6" class="cog-wrap">
            <Cog size={9} />
        </div>

        <div class="style" />

        <div class="drop" id="drop-1" style="background-color: red; color:aliceblue;" />
        <div class="drop" id="drop-2" style="background-color: blue; color:brown;" />
        <div class="drop" id="drop-3" style="background-color: purple; color:green;" />

        <p class="display">
            Project
        </p>
    </div>

    <section class="process-section">
        <h2 id="step-1">{t('step-1.title')}</h2>
        <Fragment set:html={t('step-1.texts')} />
    </section>

    <Separator />

    <section class="process-section">
        <h2 id="step-2" data-text-change={`${t('step-2.text-change')}`}>
            Step 2: Chatting
        </h2>
        <Fragment set:html={t('step-2.texts')} />
    </section>

    <Separator />

    <section class="process-section">
        <h2 id="step-3" data-text-change={`${t('step-3.text-change')}`}>
            {t('step-3.title')}
        </h2>
        <Fragment set:html={t('step-3.texts')} />
    </section>

    <section class="process-section">
        <h2 id="step-4" data-text-change={`${t('step-4.text-change')}`}>
            {t('step-4.title')}
        </h2>
        <Fragment set:html={t('step-4.texts')} />
    </section>

    <script>
        import '../scripts/cogs'
    </script>
</MainPage>

<script>
    import '../scripts/process';
</script>

<style>
	.project-box {
        position: relative;
        width: min(20rem, 95vw);
        height: 12rem;
        margin: 5rem auto;
        font-family: 'Courier New', monospace;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .eater {
        position: absolute;
        top: -10rem;
        height: calc(100% + 10rem);
        width: 100vw;
        /* When things don't have time to disappear, they will thanks to that eater */
        background: linear-gradient(180deg, var(--background-1) 10rem, #ffffff00);
        z-index: 1;
    }
    .project-box .style {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: var(--background-1);
        border: solid var(--line-width) var(--text-color);
    }
    .project-box .display {
        font-size: 1.5rem;
        z-index: 2;
    }
    .cog-wrap {
        position: absolute;
        z-index: 1;
    }
    #cog-1 { left: 8rem; top: -2rem; }
    #cog-2 { left: 2.8rem; top: -1rem; }
    #cog-3 { left: -2rem; top: 3rem; }
    
    #cog-4 { right: 2.2rem; bottom: -1rem; }
    #cog-5 { right: -1.5rem; bottom: -1.5rem; }

    #cog-6 { right: -1rem; top: 3rem; }

    .drop {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        z-index: 1;
    }

    .process-section {
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: min(40rem, 90vw);
        min-height: 30rem;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
    }

    :global(.process-section p) {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-top: 5rem;
    }
</style>