---
import { changeLanguage, setDefaultNamespace, t } from "i18next";
import { localizePath } from "astro-i18next";
import MainPage from "../layouts/MainPage.astro";
import Separator from "../components/decorations/Separator.astro";
import Tree from "../components/process/Tree.astro";

changeLanguage("en");

setDefaultNamespace("process");
---

<MainPage>
    <main>
        <section class="process-section">
            <h2 id="step-1">{t('step-1.title')}</h2>
            <Fragment set:html={t('step-1.texts')} />
            <Separator />
        </section>
    
    
        <section class="process-section">
            <h2 id="step-2" data-text-change={`${t('step-2.text-change')}`}>
                {t('step-2.title')}
            </h2>
            <Fragment set:html={t('step-2.texts')} />
            <Separator />
        </section>
    
    
        <section class="process-section">
            <h2 id="step-3">
                {t('step-3.title')}
            </h2>
            <Fragment set:html={t('step-3.texts')} />
            <Separator />
        </section>
    
    
        <section class="process-section">
            <h2 id="step-4">
                {t('step-4.title')}
            </h2>
            <Fragment set:html={t('step-4.texts')} />
            <Separator />
        </section>
    
    
        <section class="process-section">
            <h2 id="step-5">
                {t('step-5.title')}
            </h2>
            <Fragment set:html={t('step-5.texts')} />
        </section>
    
        <Separator />

        <section class="process-section">
            <h2 id="step-6">
                {t('general.end-title')}
            </h2>
            <p>{t('general.end-text')}</p>
            <p><a href={localizePath('/about')}>{t('general.end-cta')}</a></p>
        </section>
    </main>
    <Tree />
    <script>import '../scripts/process';</script>
</MainPage>

<script>
    import '../scripts/process';
</script>

<style>
    main {
        background-color: var(--primary-color);
        --text-color: var(--primary-gray);
        width: 100%;
        padding: 20vh 0;
    }

    .process-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: min(40rem, 95vw);
        min-height: 30rem;
        margin: 0 auto;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
        font-weight: 400;
        font-family: "Roxie Rossa", serif;
        color: var(--primary-text-color);
    }

    :global(.process-section p) {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.5;
        max-width: 20rem;
        margin: 0 auto;
        margin-top: 5rem;
        text-align: center;
        color: var(--primary-gray);
    }

    @media screen and (min-width: 1100px){
        main {
            width: 60%;
        }
        h2 {
            font-size: 5rem;
            margin: 3rem auto;
        }
        :global(.process-section p) {
            max-width: 90vw;
            margin-top: 8rem;
            font-size: 2rem;
        }
    }
</style>