---
const { title, big=false } = Astro.props;
---

<div class:list={["wrap", {big}]}>
    <div class="info-box">
        {() => title ? <h3>{title}</h3> : null}
        <p class="text">
            <slot />
        </p>
    </div>
</div>

<style>
    .wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: min(97vw, 25rem);
        margin: auto;
        z-index: 1;
    }
    .wrap.big {
        grid-row: span 2;
    }
    h3 {
        position: absolute;
        top: -1.5em;
        left: -.5em;
        background-color: var(--background-2);
        border: solid var(--line-width) var(--text-color);
        padding: 0.5em;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .info-box {
        position: relative;
        width: 100%;
        height: 80%;
    }
    .text {
        display: block;
        width: 100%;
        padding: 1rem;
        padding-top: 1.5rem;
        font-size: 1rem;
        border: solid var(--line-width) var(--text-color);
        background-color: var(--background-2);
        max-height: 70vh;
        overflow-y: auto;
    }
	h2 {
        position: absolute;
        top: 7rem;
        left: 5vw;
        font-size: 2.5rem;
        font-weight: 500;
        padding: .25em;
        border: solid var(--line-width) var(--text-color);
        width: fit-content;
        background-color: var(--background-1);
    }
    img.background-image {
        position: absolute;
        top: 0;
        left: 0;
        max-width: max(30vw, 40vh);
        max-height: max(25vw, 35vh);
        z-index: -1;
    }
</style>