---
import { YouTube } from 'astro-embed';
const { id } = Astro.props;
---

<div class="video-wrap">
    <YouTube {id} />
</div>

<style>
    .video-wrap {
        height: 100%;
        width: fit-content;
        width: min(95vw, 35rem);
    }
</style>