<div class="vertical">
    <div class="horizontal">
        <slot />
    </div>
</div>

<style>
    .vertical, .horizontal {
        border: solid var(--line-width) var(--color-text);
    }
    .vertical {
        border-bottom: none;
        border-top: none;
        transform: scaleY(1.1);
    }
    .horizontal {
        border-left: none;
        border-right: none;
        transform: scaleX(1.1);
    }
</style>