---
const { size, offset, clockwise=true } = Astro.props;

const teeths = new Array(size).fill(0);
const toothLength = size * 3;
---

<div
    class="cog"
    data-cog-offset={offset}
    data-cog-size={size}
    data-cog-clockwise={clockwise}
    style={`width: ${2*toothLength}px; height: ${2*toothLength}px;`}
>
    {teeths.map((_, i) => (
        <div class="tooth-wrap" style={`height: ${toothLength}px; transform: translateX(-50%) rotate(${i * 360 / size}deg) translateY(-10px)`}>
            <div class="tooth" />
        </div>
    ))}
    <div class="circle" />
</div>

<style>
    .cog {
        position: relative;
    }
    .tooth-wrap {
        transform-origin: 50% 100%;
        position: absolute;
        left: 50%;
        top: 0;
    }
    .tooth {
        height: 8px;
        width: 3px;
        background: var(--text-color);
        border-radius: 20px;
    }
    .circle {
        border: solid 2px var(--text-color);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-color: var(--background-1);
    }
</style>