---
import Cog from "./Cog.astro";
---

<div id="cog-1" class="cog-wrap">
    <Cog size={10} />
</div>
<div id="cog-2" class="cog-wrap">
    <Cog size={12} clockwise={false} />
</div>
<div id="cog-3" class="cog-wrap">
    <Cog size={16} offset={16} />
</div>

<div id="cog-4" class="cog-wrap">
    <Cog size={10} />
</div>
<div id="cog-5" class="cog-wrap">
    <Cog size={8} clockwise={false} offset={25} />
</div>

<div id="cog-6" class="cog-wrap">
    <Cog size={9} />
</div>

<script>
    import '../../scripts/cogs';
</script>

<style>
    .cog-wrap {
        position: absolute;
        z-index: 1;
    }
    #cog-1 { left: 8rem; top: -2rem; }
    #cog-2 { left: 2.8rem; top: -1rem; }
    #cog-3 { left: -2rem; top: 3rem; }
    
    #cog-4 { right: 2.2rem; bottom: -1rem; }
    #cog-5 { right: -1.5rem; bottom: -1.5rem; }

    #cog-6 { right: -1rem; top: 3rem; }
</style>