---
import { ViewTransitions } from "astro:transitions";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import NavBar from "../components/NavBar.astro";
import Scroll from "../components/Scroll.astro";
import MouseFollower from "../components/decorations/MouseFollower.astro";
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<slot name="head" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<!-- to optimize later -->
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<script>
			// make sure that astro is not triggered when the scrollend event is fired
			window.addEventListener('scrollend', (e) => {
				e.stopImmediatePropagation();
			});
		</script>
		<HeadHrefLangs />
		<ViewTransitions />
	</head>
	<body>
		<script>
			import gsap from "gsap";
			import ScrollTrigger from "gsap/ScrollTrigger";
			window.ScrollTrigger = ScrollTrigger;
			gsap.registerPlugin(ScrollTrigger);
			window.gsap = gsap;
		</script>
		
		<NavBar transition:persist />

		<div class="body-wrap">
			<slot />
		</div>

		<Scroll />
		<MouseFollower />

		<div id="zoom-container" transition:persist />
	</body>

	<style is:global>
		@import url("/src/styles/transitions.css");
		@font-face {
			font-family: "Roxie Rossa";
			src:
				url("/fonts/Roxie rossa.otf") format("opentype"),
				url("/fonts/Roxie rossa.woff") format("woff"),
				url("/fonts/Roxie rossa.ttf") format("truetype");
		}

		:root {
			--primary-color: #3e503a;
			--primary-text-color: #cfdf7a;
			--primary-gray: #d2d8d1;

			--secondary-color: #363b53;
			--secondary-text-color: #7ab2df;
			--secondary-gray: #d1d6d8;

			--tertiary-color: #aa4935;
			--tertiary-text-color: #ececec;
			--tertiary-gray: #eeece8d2;

			--background-1: #ffffff;
			--background-2: #cddacd;
			--text-color: #111;
			--text-color-bright: #f5f3eb;
			--line-width: 0.07rem;
		}

		* {
			margin: 0;
			box-sizing: border-box;
		}

		html,
		body {
			min-height: 100%;
			width: 100vw;
		}

		body {
			color: var(--text-color);
			background: var(--background-1);
			background-repeat: no-repeat;
			background-size: cover;
			font-family: "Montserrat", sans-serif;
			overflow-x: hidden;
		}
		.body-wrap {
			width: 100%;
			overflow: hidden;
		}

		a {
			color: inherit;
		}

		#zoom-container {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			pointer-events: none;
			overflow: hidden;
			z-index: 1000;
		}

		.medium-zoom-image--opened {
			position: relative;
			cursor: pointer;
			cursor: zoom-out;
			will-change: transform;
		}
		.medium-zoom-image {
			cursor: pointer;
			cursor: zoom-in;
			transition: transform .3s cubic-bezier(.2,0,.2,1) !important;
		}
		.medium-zoom--opened .medium-zoom-overlay {
			cursor: pointer;
			cursor: zoom-out;
			opacity: 1;
		}
		.medium-zoom-overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			transition: opacity .3s;
			will-change: opacity;
		}

		html.lenis, html.lenis body {
			height: auto;
		}

		.lenis.lenis-smooth {
			scroll-behavior: auto !important;
		}

		.lenis.lenis-smooth [data-lenis-prevent] {
			overscroll-behavior: contain;
		}

		.lenis.lenis-stopped {
			overflow: hidden;
		}

		.lenis.lenis-scrolling iframe {
			pointer-events: none;
		}
	</style>
</html>
