---
import { ViewTransitions } from "astro:transitions";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import NavBar from "../components/NavBar.astro";
import Scroll from "../components/Scroll.astro";
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<slot name="head" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<!-- to optimize later -->
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<script>
			// make sure that astro is not triggered when the scrollend event is fired
			window.addEventListener('scrollend', (e) => {
				e.stopImmediatePropagation();
			});
		</script>
		<HeadHrefLangs />
		<ViewTransitions />
	</head>
	<body>
		<script>
			import gsap from "gsap";
			import ScrollTrigger from "gsap/ScrollTrigger";
			window.ScrollTrigger = ScrollTrigger;
			gsap.registerPlugin(ScrollTrigger);
			window.gsap = gsap;
		</script>
		
		<NavBar transition:persist />
		
		<main>
			<slot />
		</main>

		<Scroll />

		<div id="zoom-container" />
	</body>

	<style is:global>
		@import url("/src/styles/transitions.css");
		@font-face {
			font-family: "Roxie Rossa";
			src:
				url("/fonts/Roxie rossa.otf") format("opentype"),
				url("/fonts/Roxie rossa.woff") format("woff"),
				url("/fonts/Roxie rossa.ttf") format("truetype");
		}

		:root {
			--primary-color: #5a795c;;
			--secondary-color: #e0bf29;
			--background-1: #ffffff;
			--background-2: #cddacd;
			--text-color: #111;
			--text-color-bright: #f5f3eb;
			--line-width: 0.07rem;
		}

		* {
			margin: 0;
			box-sizing: border-box;
		}

		html,
		body {
			min-height: 100%;
			width: 100vw;
		}

		body {
			color: var(--text-color-1);
			background: var(--background-1);
			background-repeat: no-repeat;
			background-size: cover;
			font-family: "Montserrat", sans-serif;
			overflow-x: hidden;
		}

		html.lenis, html.lenis body {
			height: auto;
		}

		.lenis.lenis-smooth {
			scroll-behavior: auto !important;
		}

		.lenis.lenis-smooth [data-lenis-prevent] {
			overscroll-behavior: contain;
		}

		.lenis.lenis-stopped {
			overflow: hidden;
		}

		.lenis.lenis-scrolling iframe {
			pointer-events: none;
		}
	</style>
</html>
