---
import { ViewTransitions, slide } from "astro:transitions";
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import NavBar from "../components/NavBar.astro";
import { textSpacing } from "../scripts/transitions";
import Separator from "../components/Separator.astro";
---

<!doctype html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={t("meta.description")} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{t("meta.title")}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<!-- to optimize later -->
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<HeadHrefLangs />
		<ViewTransitions />
	</head>
	<body>
		<NavBar />
		<h1 transition:animate={textSpacing}>
			{t("meta.title-long")}
		</h1>
		
		<slot />

		<script>
			import "../scripts/scroll";
		</script>
	</body>

	<style is:global>
		@import url("/src/styles/transitions.css");
		@font-face {
			font-family: "Roxie Rossa";
			src:
				url("/fonts/Roxie rossa.otf") format("opentype"),
				url("/fonts/Roxie rossa.woff") format("woff"),
				url("/fonts/Roxie rossa.ttf") format("truetype");
		}

		:root {
			--color-text: #111;
			--line-width: 0.1rem;
			--background-1: #d2d3d4;
			--background-2: #f0f0f8;
		}

		* {
			margin: 0;
			box-sizing: border-box;
		}

		html,
		body {
			min-height: 100%;
			width: 100vw;
		}

		body {
			color: var(--color-text);
			background: var(--background-2);
			background-repeat: no-repeat;
			background-size: cover;
			font-family: "Montserrat", sans-serif;
			overflow-x: hidden;
		}

		h1 {
			font-family: "Roxie Rossa", serif;
			font-size: 5rem;
			margin-top: 8rem;
			text-align: center;
		}

		html.lenis, html.lenis body {
			height: auto;
		}

		.lenis.lenis-smooth {
			scroll-behavior: auto !important;
		}

		.lenis.lenis-smooth [data-lenis-prevent] {
			overscroll-behavior: contain;
		}

		.lenis.lenis-stopped {
			overflow: hidden;
		}

		.lenis.lenis-scrolling iframe {
			pointer-events: none;
		}
	</style>
</html>
