---
import { ViewTransitions, fade } from "astro:transitions";
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import NavBar from "../components/NavBar.astro";
import { textSpacing } from "../scripts/transitions";
import Separator from "../components/Separator.astro";
import PageTransition from "../components/PageTransition.astro";
import Plants from "../components/Plants.astro";
import Scroll from "../components/Scroll.astro";
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={t("meta.description")} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{t("meta.title")}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<!-- to optimize later -->
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<script>
			// make sure that astro is not triggered when the scrollend event is fired
			window.addEventListener('scrollend', (e) => {
				e.stopImmediatePropagation();
			});
			</script>
		<HeadHrefLangs />
		<ViewTransitions />
	</head>
	<body>
		<script>
			import gsap from "gsap";
			import ScrollTrigger from "gsap/ScrollTrigger";
			gsap.registerPlugin(ScrollTrigger);
			window.gsap = gsap;
			window.ScrollTrigger = ScrollTrigger;
		</script>
		
		<NavBar transition:persist />
		
		<!--
			Header, common to every page
			It takes up the full height of the viewport
		-->
		<header>
			<h1 transition:animate={textSpacing}>
				{t("meta.title-long")}
			</h1>
			<Separator />
			<Plants transition:persist />
		</header>
		
		<main transition:animate={fade({duration: 1000})}>
			<slot />
		</main>
		
		<PageTransition transition:persist />
		
		<Scroll />
	</body>

	<style is:global>
		@import url("/src/styles/transitions.css");
		@font-face {
			font-family: "Roxie Rossa";
			src:
				url("/fonts/Roxie rossa.otf") format("opentype"),
				url("/fonts/Roxie rossa.woff") format("woff"),
				url("/fonts/Roxie rossa.ttf") format("truetype");
		}

		:root {
			--primary-color: #6e8670;;
			--secondary-color: #e0bf29;
			--background-1: #e6e6e6;
			--background-2: #e7e7e7;
			--text-color: #111;
			--text-color-bright: #ebe2e8;
			--line-width: 0.1rem;
		}

		* {
			margin: 0;
			box-sizing: border-box;
		}

		html,
		body {
			min-height: 100%;
			width: 100vw;
		}

		body {
			color: var(--text-color-1);
			background: var(--background-2);
			background-repeat: no-repeat;
			background-size: cover;
			font-family: "Montserrat", sans-serif;
			overflow-x: hidden;
		}

		h1 {
			font-family: "Roxie Rossa", serif;
			font-size: 4rem;
			text-align: center;
			z-index: 5;
		}
		@media screen and (min-width: 1000px) {
			h1 {
				font-size: 6rem;
			}
		}

		header {
			position: relative;
			height: calc(100vh - var(--full-nav-height));
			overflow: hidden;
			border-bottom: var(--line-width) solid var(--text-color);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		html.lenis, html.lenis body {
			height: auto;
		}

		.lenis.lenis-smooth {
			scroll-behavior: auto !important;
		}

		.lenis.lenis-smooth [data-lenis-prevent] {
			overscroll-behavior: contain;
		}

		.lenis.lenis-stopped {
			overflow: hidden;
		}

		.lenis.lenis-scrolling iframe {
			pointer-events: none;
		}
	</style>
</html>
