---
import Layout from "./Layout.astro";
import Separator from "../components/decorations/Separator.astro";
import Plants from "../components/decorations/Plants.astro";
import { slideCustom } from "../scripts/transitions";
import { t } from "i18next";
---

<meta name="description" content={t("meta.description")} slot="head"/>
<title slot="head">{t("meta.title")}</title>

<Layout>
	<!--
		Header, common to every page
		It takes up the full height of the viewport
	-->
	<header>
		<div class="header-text">
			<h1 class="main-page-title" transition:animate={slideCustom(1000)} transition:name="main page title">
				{t("meta.title-long")}
			</h1>
			<div class="scroll-cta" transition:animate={slideCustom(1000, 'right')} transition:name="main page scroll-cta">
				<p>{t("meta.scroll-cta")}</p>
				<Separator animate />
			</div>
		</div>
		<Plants />
	</header>

	<slot />
</Layout>

<script>
	document.addEventListener('astro:page-load', () => {
	  	gsap.to('.header-text', {
			scrollTrigger: {
				trigger: 'body',
				start: 'top top',
				end: () => `+=${window.innerHeight} top`,
				scrub: true,
			},
			y: '60vh',
			ease: "none",
		});
	});
</script>

<style>
    h1 {
		font-family: "Roxie Rossa", serif;
		font-size: 3.5rem;
		text-align: center;
		max-width: 90vw;
		margin-top: 35vh;
		font-weight: 300;
	}
	@media screen and (min-width: 1000px) {
		h1 {
			font-size: 7rem;
		}
	}
	.scroll-cta {
		margin-top: 2rem;
		font-size: 1.6rem;
		width: min(20rem, 70vw);
		text-align: center;
	}

	header {
		position: relative;
		height: 100vh;
		overflow: hidden;
		z-index: 3;
		border-bottom: var(--line-width) solid var(--text-color);
	}

	.header-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
	}
</style>