---
import Layout from "./Layout.astro";
import Separator from "../components/decorations/Separator.astro";
import Plants from "../components/decorations/Plants.astro";
import { slideCustom } from "../scripts/transitions";
import { t } from "i18next";
---

<head>
	<meta name="description" content={t("meta.description")} />
	<title>{t("meta.title")}</title>
</head>

<Layout>
    <!--
			Header, common to every page
			It takes up the full height of the viewport
		-->
		<header>
			<h1 transition:animate={slideCustom(1000)}>
				{t("meta.title-long")}
			</h1>
			<p class="scroll-cta" transition:animate={slideCustom(1000, 'right')}>
				{t("meta.scroll-cta")}
			</p>
			<Separator animate />
			<Plants />
		</header>

        <slot />
</Layout>

<style>
    h1 {
			font-family: "Roxie Rossa", serif;
			font-size: 4rem;
			text-align: center;
			z-index: 5;
			max-width: 90vw;
		}
		@media screen and (min-width: 1000px) {
			h1 {
				font-size: 6rem;
			}
		}
		.scroll-cta {
			margin-top: 2rem;
			font-size: 1.6rem;
			width: min(20rem, 70vw);
			text-align: center;
		}

		header {
			position: relative;
			height: calc(100vh - var(--full-nav-height));
			overflow: hidden;
			border-bottom: var(--line-width) solid var(--text-color);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
</style>