---
import Layout from "./Layout.astro";
import Separator from "../components/decorations/Separator.astro";
import Plants from "../components/decorations/Plants.astro";
import { slideCustom } from "../scripts/transitions";
import { t } from "i18next";
---

<meta name="description" content={t("meta.description")} slot="head"/>
<title slot="head">{t("meta.title")}</title>

<Layout>
	<!--
		Header, common to every page
		It takes up the full height of the viewport
	-->
	<header>
		<h1 class="main-page-title" transition:animate={slideCustom(1000)} transition:name="main page title">
			{t("meta.title-long")}
		</h1>
		<div class="scroll-cta" transition:animate={slideCustom(1000, 'right')} transition:name="main page scroll-cta">
			<p>{t("meta.scroll-cta")}</p>
			<Separator animate />
		</div>
		<Plants />
	</header>

	<slot />
</Layout>

<script>
	const scrollTrigger = {
		trigger: 'body',
		start: 'top top',
		end: '+=600 top',
		scrub: 1,
	};
	document.addEventListener('astro:page-load', () => {
		gsap.to('.main-page-title', {
			scrollTrigger,
			y: '150',
		});
		gsap.to('.scroll-cta', {
			scrollTrigger,
			y: '120',
		});
	});
</script>

<style>
    h1 {
		font-family: "Roxie Rossa", serif;
		font-size: 4rem;
		text-align: center;
		z-index: 5;
		max-width: 90vw;
	}
	@media screen and (min-width: 1000px) {
		h1 {
			font-size: 6rem;
		}
	}
	.scroll-cta {
		margin-top: 2rem;
		font-size: 1.6rem;
		width: min(20rem, 70vw);
		text-align: center;
	}

	header {
		position: relative;
		height: calc(100vh - var(--full-nav-height));
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 3;
	}

	main {
		position: relative;
	}
</style>